body {
  font-family: var(--fonte-principal);
}

header.cabecalho {
  background-color: var(--cor-fundo-header);
  display: flex;
  justify-content: space-between;
  height: 96px;
}

header.cabecalho .logo {
  width: 81px;
  height: 90px;
  margin-left: 30px;
}

header div {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header div nav ul.menu {
  display: flex;
  align-items: center;
  justify-content: left;
  width: 100%;
  height: 100%;
  gap: 34px;
}

header div nav .menu li a {
  color: var(--cor-texto);
}

button.btn-agendar {
  width: var(--largura-botao);
  height: var(--altura-botao);
  align-self: center;
  font-family: var(--fonte-principal);
  background-color: var(--cor-botao);
  font-weight: 700;
  border-radius: var(--raio-borda-botao);
  margin-right: 30px;
}

section.home-page {
  background-image: var(--background-image-home);
  background-repeat: no-repeat;
  background-size: cover;
  max-width: 100%;
  height: 90vh;
}

section.home-page div.container-informacoes {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  text-align: center;
}

section.home-page div h1.titulo-home {
  font-family: var(--fonte-principal);
  font-weight: 700;
  font-size: 48px;
  color: var(--cor-texto);
  max-width: 70%;
}

section.home-page div p.horario-funcionamento {
  font-family: var(--fonte-principal);
  font-weight: 400;
  font-size: var(--fonte-horario);
  color: var(--cor-texto);
  margin-top: var(--margem-topo-textos);
}

section.home-page div button.btn-agendar {
  width: var(--largura-botao);
  height: var(--altura-botao);
  align-self: center;
  font-family: var(--fonte-principal);
  background-color: var(--cor-botao);
  font-weight: 700;
  border-radius: var(--raio-borda-botao);
  margin-top: var(--margem-topo-botao);
}

section.sobre {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: var(--cor-fundo-sobre);
  padding-right: 10%;
  height: 100vh;
}

section.sobre img.imagem-corte {
  position: absolute;
  z-index: 1;
  top: 151%;
  left: 5%;
}

section.sobre img.imagem-secador {
  position: absolute;
  z-index: 2;
  top: 122%;
  left: 20%;
}

section.sobre img.imagem-maquina {
  position: absolute;
  z-index: 1;
  top: 151%;
  left: 28%;
}

section.sobre .description {
  max-width: 477px;
  color: var(--cor-texto);
}

section.sobre .description h2.titulo-sobre {
  font-weight: 700;
  font-size: var(--fonte-h2);
}

section.sobre p.texto-sobre {
  font-weight: 400;
  font-size: var(--fonte-texto-normal);
  margin-top: var(--margem-topo-textos);
}

section.sobre p.horario-funcionamento {
  font-weight: 700;
  font-size: var(--fonte-horario);
  color: var(--cor-texto);
  margin-top: var(--margem-topo-textos);
}

main.servicos {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: var(--cor-fundo-branco);
  padding: 50px 0;
  height: 742px;
}

main h2.titulo-servicos {
  font-weight: 700;
  font-size: var(--fonte-h2);
  color: black;
  margin-bottom: var(--margem-topo-textos);
}

main p.texto-servicos {
  font-weight: 400;
  font-size: var(--fonte-texto-normal);
  color: black;
  max-width: 45%;
  text-align: center;
  margin-bottom: var(--margem-topo-textos);
}

main div.container-servicos {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: var(--margem-topo-textos);
  gap: 24px;
  margin: 0 5%;
}

main div.container-servicos .servico {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 356px;
  height: 300px;
  background-color: #F0F0F0;
  border-radius: 10px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

main div.container-servicos .servico .imagem-servico {
  max-width: 356px;
  max-height: 318px;
  border-radius: 4px 4px 0 0;
}

main div.container-servicos .servico .descricao-servico {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  width: 356px;
  height: 55px;
  padding: 7px;
}

main div.container-servicos .servico .descricao-servico h3.titulo-servico {
  font-weight: 700;
  font-size: 16px;
  color: black;
}

main div.container-servicos .servico .descricao-servico .btn-preco {
  font-weight: 400;
  font-size: var(--fonte-texto-normal);
  color: #FFFFFF;
  padding: 5px 12px;
  border-radius: 10px;
  background-color: #0D121E;
  border: none;
}
